* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins' ,sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 32px;
}

header {
    background-color: #A6E3E9;
    padding-block: 8px;
    color: #fff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    transition: opacity .3s;
}

header ul li a:hover{
    opacity: .8;
}